# Code owners for this repository.
# These users are requested for review automatically when matching files change.
# Docs: https://docs.github.com/articles/about-code-owners

# Default owner for everything in the repo.
*       @sandropetterle
